nav {
  background-color: rgba(128, 128, 128, 0.427);
}

nav .logo {
  height: 3.5em;
  border-radius: 5em;
  margin-left: -14em;
  margin-left: -3.5em;
}

header {
  background-image: url("img/FONDO Vector.svg");
  height: 40em;
  background-size: cover;
  position: relative;
}

header #mainContainer {
  background-color: rgba(70, 97, 118, 0.712);
  padding: 3em;
  border-radius: 3em;
  margin-left: 28em;
}

header .btn2 {
  background-color: #409e51;
  border-radius: 2em;
  color: aliceblue;
  font-weight: bold;
  padding-left: 1.3em;
  padding-right: 1.3em;
}

header .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

header .title h1 {
  color: #c2cfd9;
  font-size: 2em;
  font-weight: bold;
}

header main #row-nuestros {
  background-color: #3c6d96;
  margin-top: 35.4em;
}

header main #row-nuestros .nuestros {
  height: 13em;
  width: 16em;
  border-radius: 5em;
  margin-top: 1em;
  margin-bottom: 0em;
}

header main .row {
  margin: 0;
}

header main h2 {
  font-weight: bold;
  margin-top: 1.5em !important;
}

header main #contactofondo {
  /*background-image: url("img/FONDO-PLANETA.jpg");
                    width: 100% !important;*/
}

header main #contactofondo #contacto {
  background-image: url("img/FONDO Vector2-02-02.svg");
  /*.formulario {
                                margin-left: 62em;
                            }*/
}

header main #contactofondo #contacto img {
  margin-right: 20em;
}

header main #contactofondo #contacto h5 {
  color: white;
  margin-top: 2em;
  padding-left: 2em;
}

header main #contactofondo #contacto h6 {
  color: white;
  padding-left: 2.6em;
  margin-top: 2em;
}

header main #contactofondo #contacto #formulario {
  width: 20em;
  margin-top: 2em;
  margin-left: 15em;
}

header main #contactofondo #contacto #formulario #coldos {
  margin-right: -21em;
  margin-left: 22em;
  margin-top: -7.7em;
}

header main #contactofondo #contacto .btn2 {
  margin-top: 1em;
}
