/*header {
    
    height: 40em;
    background-size: cover;
    position: relative;
}

/*.logo {
    height: 3.5em;
    border-radius: 5em;
    margin-left: -14em;
    margin-left: -3.5em;
}
.btn {
    background-color: rgb(34, 86, 127);
    border-radius: 2em;
    color: aliceblue;
    font-weight: bold;
    padding-left: 1.3em;
    padding-right: 1.3em;
}

h1 {
    color: rgb(194, 207, 217);
    font-size: 2em;
    font-weight: bold;
}

.title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#row-comunity {
    background-color: rgb(49, 87, 118);
    margin-top: 35.4em;
}
.comunity {
    height: 13em;
    width: 16em;
    border-radius: 5em;
    margin-top: 1em;
    margin-bottom: 0em;
}
.row {
    margin: 0;
}
/*main h2 {
    font-weight: bold;
    margin-top: 1.5em !important;
}
/*#mainContainer h5 {
    padding-left: 4em;
    padding-right: 4em;
    
}

#contacto {
    background-color: rgb(97, 93, 93);
}

#contacto h5 {
    color: white;
}*/

